* {
    padding: 0px;
    margin : 0px;
}

.container {
    display         : flex;
    justify-content : center;
    background-color: #2f0eec;
    min-height      : 100vh;
    align-items     : center;
}

.formContainer {
    border          : 1px solid silver;
    padding         : 50px;
    margin          : 50px;
    width           : fit-content;
    height          : fit-content;
    border-radius   : 10px;
    background-color: rgb(232, 239, 241);
}

.header {
    text-align   : left;
    margin-bottom: 40px;
    color        : #1a73e8;
    font-size    : 1.8rem;
}

.formField {
    display       : flex;
    flex-direction: column;
    margin-bottom : 10px;
    height        : 75px;
}

.formField label {
    text-align   : left;
    margin-bottom: 5px;
    color        : rgb(85, 85, 85);
    font-size    : 0.9rem;
}

.formField span {
    height          : 10px;
    text-align      : left;
    margin-top      : 5px;
    width           : fit-content;
    font-size       : 0.85rem;
    color           : rgb(12, 12, 12);
    line-height     : 10px;
    padding         : 3px 10px;
    border-radius   : 3px;
    background-color: rgba(255, 0, 0, 0.175);
}

.formInput {
    width        : 300px;
    height       : 30px;
    border-radius: 5px;
    padding      : 0 10px;
    border       : 1px solid silver;
    transition   : all 0.2s ease-in;
}

.uncompleted {
    width        : 300px;
    height       : 30px;
    border-radius: 5px;
    padding      : 0 10px;
    border       : 1px solid rgb(236, 233, 233);
    transition   : all 0.2s ease-in;
}

.uncompleted:focus,
.formInput:focus {
    outline    : none;
    line-height: 30px;
    height     : 30px;
    border     : 1px solid #1a73e8;
}

.formButtons {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.formButtons button {
    background-color: #02080f;
    padding         : 10px 20px;
    color           : #fff;
    border-radius   : 5px;
    border          : none;
    font-size       : 0.875rem;
    font-weight     : 500;
    transition      : all 0.1s ease-in;
    cursor          : pointer;
}

.formButtons button:hover {
    background-color: #050c16;
}

.formButtons a {
    text-decoration: none;
    color          : #020b16;
    transition     : all 0.1s ease-in;
    font-weight    : 700;
}

.formButtons a:hover {
    color: #060c13;
}

.checkBoxContainer {
    display       : flex;
    font-size     : 0.85rem;
    flex-direction: row !important;
    align-items   : center;
    height        : 20px !important;
    text-align    : center;
    gap           : 10px;
}

input[type="checkbox"] {
    width        : 18px;
    height       : 18px;
    border       : 1px solid #04090f;
    appearance   : none;
    border-radius: 5px;
    transition   : all 0.1s ease-in;
}

input[type="checkbox"]:checked {
    width           : 18px;
    height          : 18px;
    background-color: #03080f;
    border-radius   : 50%;
}


.formField:nth-child(6) label {
    color: #1a73e8;
}

@media screen and (max-width:440px) {
    .formContainer {
        padding: 20px;
        margin : 50px 20px;
        width  : 90%;
    }

    .formInput {
        width: 90%;
    }

    .uncompleted {
        width: 90%;
    }
}